<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/static/images/favicon.ico">
	<title>Forest-Care</title>
	<!-- Bootstrap core CSS -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="/static/css/all.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="./">
            <img src="/static/images/logo-new-footer.png" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="./">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./predict">Prediction</a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Portfolio
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
                     </div>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Blog
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                        <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                        <a class="dropdown-item" href="blog-post.html">Blog Post</a>
                     </div>
                  </li> -->
                  <li class="nav-item dropdown">
                     <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Explore Us
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="./faqs">FAQ</a>
                        <!-- <a class="dropdown-item" href="404.html">404</a> -->
                        <a class="dropdown-item" href="./pricing">Pricing</a>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./contact_us">Contact Us</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>

	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">Pricing
			</h1>
		</div>
	</div>

    <!-- Page Content -->
    <div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="./">Home</a>
				</li>
				<li class="breadcrumb-item active">Explore Us</li>
				<li class="breadcrumb-item active">Pricing</li>
			</ol>
		</div>
        <div class="error-contents">
			<h4>Sorry! The page you are looking for can't be found.</h4>
			<div class="error-img">
				<img class="img-fluid" src="/static/images/404.png" alt="" />
			</div>
			<h4>We are sorry for the inconvenience caused to you. You can check out our other services for now.</h4>
			<a class="btn btn-primary" href="./pricing"> Back To Pricing </a>
		</div>
		</div>
    </div>
    <!-- /.container -->

 <!--footer starts from here-->
 <footer class="footer">
	<div class="container bottom_border">
	</div>
	<div class="container">
		<div class="footer-logo">
			<a href="./"><img src="/static/images/logo-new-footer.png" alt="" /></a>
		</div>
		<!--foote_bottom_ul_amrc ends here-->
		<p class="copyright text-center">All Rights Reserved. &copy; 2022 <a href="./">Forest Care</a> Design By :
			<a href="./contact_us">B14</a>
		</p>
		<ul class="social_footer_ul">
			<!-- <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li><a href="#"><i class="fab fa-linkedin"></i></a></li> -->
			<li><a href="https://github.com/NVombat/Predictive-Modelling-of-Wildfires" target="_blank"><i class="fab fa-github"></i></a></li>
		</ul>
		<!--social_footer_ul ends here-->
	</div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>