<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
   <link rel="icon" href="/static/images/favicon.ico">
	<title>Forest-Care</title>
	<!-- Bootstrap core CSS -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="/static/css/all.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">
            <img src="/static/images/logo-new-footer.png" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link active" href="http://127.0.0.1:8000/">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./about">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./predict">Prediction</a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Portfolio
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="/pages/portfolio-1-col.html">1 Column Portfolio</a>
                        <a class="dropdown-item" href="/pages/portfolio-2-col.html">2 Column Portfolio</a>
                        <a class="dropdown-item" href="/pages/portfolio-3-col.html">3 Column Portfolio</a>
                        <a class="dropdown-item" href="/pages/portfolio-4-col.html">4 Column Portfolio</a>
                        <a class="dropdown-item" href="/pages/portfolio-item.html">Single Portfolio Item</a>
                     </div>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Blog
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="/pages/blog-home-1.html">Blog Home 1</a>
                        <a class="dropdown-item" href="/pages/blog-home-2.html">Blog Home 2</a>
                        <a class="dropdown-item" href="/pages/blog-post.html">Blog Post</a>
                     </div>
                  </li>-->
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Explore Us
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="./faqs">FAQ</a>
                        <!-- <a class="dropdown-item" href="/pages/404.html">404</a> -->
                        <a class="dropdown-item" href="./pricing">Pricing</a>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./contact_us">Contact Us</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>
    <header class="slider-main">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
               <!-- Slide One - Set the background image for this slide in the line below -->
               <div class="carousel-item active" style="background-image: url('/static/images/carousel-1.jpg')">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>Welcome to Forest Care</h3>
                     <p>Your Forest, Our Care</p>
                  </div>
               </div>
               <!-- Slide Two - Set the background image for this slide in the line below -->
               <div class="carousel-item" style="background-image: url('/static/images/carousel-2.jpg')">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>Fiery Gaze</h3>
                     <p>Your Forest, Our Care</p>
                  </div>
               </div>
               <!-- Slide Three - Set the background image for this slide in the line below -->
               <div class="carousel-item" style="background-image: url('/static/images/carousel-3.jpg')">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>Caring For New Life</h3>
                     <p>Your Forest, Our Care</p>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <!-- Page Content -->
    <div class="container">
        <div class="services-bar">
           <!-- <h1 class="my-4">Our Best Services </h1>
             Services Section
            <div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Garden Fence</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="images/services-img-01.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                     </div>
                     <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Garden Watering</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="images/services-img-02.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                     </div>
                     <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Garden Supplies</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="images/services-img-03.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                     </div>
                     <div class="card-footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                     </div>
                  </div>
               </div>
            </div>
             /.row -->
        </div>
        <!-- About Section -->
        <div class="about-main">
            <div class="row">
               <div class="col-lg-6">
                  <h2>Welcome to Forest Care</h2>
                  <p>we provide decision-support information to the Forest Services and other central, tribal, state, and local wildland fire management agencies for operational management of and strategic planning for wildland firefighting assets, such as firefighters, aircraft, and engines.</p>
                  <h5>Our smart approach</h5>
                  <ul>
                     <li><b><u>Fire weather and climate</u></b> -Experts analyze a variety of weather products and services to provide briefings and outlooks for current and forecasted conditions. We have innovative products and tools to help fire managers assess fire potential and high risk areas.</li>
                     <li><b><u>Fuels and fire danger</u></b> - Wildland Fire Analysts provide predictions and condition reports on fuels, fire danger, fire behavior, fire occurrence statistics, and asset needs.</li>
                     <li><b><u>Fire activity and firefighting asset intelligence</u></b> - Intelligence staff provide fire management personnel, incident managers, firefighters and support staff with access to current intelligence on preparedness levels, fire situation, assets, mapping and satellite imagery, climatology, preparedness levels, asset availability, rotation schedules, and fire potential information.</li>
                  </ul>
                  <p>Predictive Services supports many types of decisions, including pre-positioning and distribution of firefighting assets; initial and extended attack asset needs; increasing/decreasing assets; fire management strategies; severity funding; and contracting of assets. This is accomplished through analysis of weather and climate, fuels, and fire activity.</p>
               </div>
               <div class="col-lg-6">
                  <img class="img-fluid rounded mb-3" src="/static/images/about-img-1.jpg" alt="" />
                  <img class="img-fluid rounded" src="/static/images/about-img.jpg" alt="" />
               </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- Portfolio Section -->
        <div class="portfolio-main">
            <h2>Our Care</h2>
            <div class="row">
               <div class="col-lg-6 col-sm-6 portfolio-item">
                  <div class="card h-100">
                     <div class="card-img">
                        <!-- <a href="#"> -->
                           <img class="card-img-top" src="/static/images/portfolio-img-01.jpg" alt="" />
                           <!-- <div class="overlay"><i class="fas fa-arrows-alt"></i></div> -->
                        <!-- </a> -->
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">Early Prediction</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6 portfolio-item">
                  <div class="card h-100">
                     <div class="card-img">
                        <!-- <a href="#"> -->
                           <img class="card-img-top" src="/static/images/portfolio-img-02.jpg" alt="" />
                           <!-- <div class="overlay"><i class="fas fa-arrows-alt"></i></div> -->
                        <!-- </a> -->
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">Saving Lives</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6 portfolio-item">
                  <div class="card h-100">
                     <div class="card-img">
                        <!-- <a href="#"> -->
                           <img class="card-img-top" src="/static/images/portfolio-img-03.jpg" alt="" />
                           <!-- <div class="overlay"><i class="fas fa-arrows-alt"></i></div> -->
                        <!-- </a> -->
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">Industrial Collaboration</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6 portfolio-item">
                  <div class="card h-100">
                     <div class="card-img">
                        <!-- <a href="#"> -->
                           <img class="card-img-top" src="/static/images/portfolio-img-04.jpg" alt="" />
                           <!-- <div class="overlay"><i class="fas fa-arrows-alt"></i></div> -->
                        <!-- </a> -->
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">Government Aid</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <!-- <div class="col-lg-4 col-sm-6 portfolio-item">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="#">
                           <img class="card-img-top" src="images/portfolio-img-05.jpg" alt="" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">Growing plants</a>
                        </h4>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6 portfolio-item">
                  <div class="card h-100">
                     <div class="card-img">
                        <a href="#">
                           <img class="card-img-top" src="images/portfolio-img-01.jpg" alt="" />
                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                     </div>
                     <div class="card-body">
                        <h4 class="card-title">
                           <a href="#">Snow removal</a>
                        </h4>
                     </div>
                  </div>
               </div> -->
            </div>
            <!-- /.row -->
        </div>
        <hr>
        <!-- Get In Touch Now Section -->
        <div class="row mb-4">
            <div class="col-md-8">
               <p>To make the process of forest care easier for you, we- Forest Care are always present for your service; So feel free to contact us !</p>
            </div>
            <div class="col-md-4">
               <a class="btn btn-lg btn-secondary btn-block" href="./contact_us">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
            <!--<div class="row">
               <div class="col-lg-3 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
					headin5_amrc
					<p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
					<p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
					<p><i class="fa fa-phone"></i> +91-9999878398 </p>
					<p><i class="fa fa fa-envelope"></i> info@example.com </p>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
					headin5_amrc ends here
					<ul class="footer_ul2_amrc">
						<li>
							<a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
							<p>Lorem Ipsum is simply dummy printing...<a href="#">https://www.lipsum.com/</a></p>
						</li>
						<li>
							<a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
							<p>Lorem Ipsum is simply dummy printing...<a href="#">https://www.lipsum.com/</a></p>
						</li>
						<li>
							<a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
							<p>Lorem Ipsum is simply dummy printing...<a href="#">https://www.lipsum.com/</a></p>
						</li>
					</ul>
					footer_ul2_amrc ends here
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
					headin5_amrc
					<ul class="footer_ul_amrc">
						<li><a href="#">Default Version</a></li>
						<li><a href="#">Boxed Version</a></li>
						<li><a href="#">Our Team </a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Our Services</a></li>
						<li><a href="#">Get In Touch</a></li>
					</ul>
					footer_ul_amrc ends here
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 ">
					<h5 class="headin5_amrc col_white_amrc pt2">Recent posts</h5>
					headin5_amrc
					<ul class="footer_ul_amrc">
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="images/post-img-01.jpg" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>22 Sep 2018</span>
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="images/post-img-02.jpg" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>34 Sep 2018</span>
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="images/post-img-03.jpg" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>30 Sep 2018</span>
							</div>
						</li>
					</ul>
					footer_ul_amrc ends here-->
				</div>
			</div>
		</div>
        <div class="container">
            <div class="footer-logo">
				<a href="#"><img src="/static/images/logo-new-footer.png" alt="" /></a>
			</div>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="copyright text-center">All Rights Reserved. &copy; 2022 <a href="http://127.0.0.1:8000/">Forest Care</a> Design By :
				<a href="./contact_us">B14</a>
            </p>
            <ul class="social_footer_ul">
				<!-- <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin"></i></a></li> -->
				<li><a href="https://github.com/NVombat/Predictive-Modelling-of-Wildfires" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>